@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@font-face {
  font-family: "Silver Crown";
  src: url(/fonts/SILVER\ CROWN.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  color: #000801;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 120%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4.5ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
